# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
env/
venv/
ENV/

# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Editor directories
.idea/
.vscode/
*.swp
*.swo

# Docker logs
*.log
